.profile_page
  .card
    .profilePage_user_image
      %img.logo{src: "/assets/default.png", style: "vertical-align:bottom;"}>/
    .profilePage_user_name
      #{current_user.name} 
    .profilepage_dropdown
      = image_tag 'Combined Shape (1).png', class: 'dropbtn'
      .dropdown-content.mini
        = link_to 'トレーニング編集', new_training_path
        = link_to 'プロフィール編集', new_training_path





   
        
      
        


    

  
