$avatar-size: 45px;
$heart-size: 20px;
$comment-size: 22px;

.card {
    
   background-color:#fff;
   width: 500px;
   padding: 10px;
   margin: auto;
   top:30px;
   border :1px solid;
   margin-top: 30px;
   border-radius: 1rem;
   


}
.card_image { 
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
    top: 23px;
    left:10px
    
   }
   .card_name{
       padding-left: 80px;
       position: relative;
       bottom:60px;
       right:20px;
      

      
   }

   .card_heart {
       padding-left: 350px;
      
    img {
        width: $heart-size;
        height: $heart-size;
        
    }
}
.card_create {
    opacity: 0.8;
    font-size: 10px;
  

}
.card_sub {
    display: flex;
    padding-left:50px;
}

.card_comment {
   padding-left:10px;
 
    img{
    height: $comment-size;
    width: $comment-size;
    }
}

.post {
    text-align: center;
    margin: 50px;
    
}

.article_dropdown {
    position: relative;
    bottom: 250px;
    right: 400px;
    display: inline-block;
    margin-left: 850px;
    cursor: pointer;
  }
  
  .article_dropdown-content {
    font-weight: normal;
    display: none;
    left: 200;
    position:absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;

    &.mini {
        min-width: 100px;
        

    }
  }
  
  .article_dropdown-content a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;

  }
  
  .article_dropdown-content a:hover {
    background-color: white;
  }
  
  .article_dropdown:hover .article_dropdown-content {
    display: block;
  }
  .card_delete {
      position:relative;
      bottom: 150px;
      left: 440px;
  }