$avatar-size: 120px;

.dropdown {
    position: relative;
    bottom: 150px;
    display: inline-block;
    margin-left: 850px;
    cursor: pointer;
  }
  
  .dropdown-content {
    font-weight: normal;
    display: none;
    left: 200;
    position:absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;

    &.mini {
        min-width: 170px;
        

    }
  }
  
  .dropdown-content a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;

  }
  
  .dropdown-content a:hover {
    background-color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .profile-card{
    display: flex;
    width: 500px;
    box-shadow: 2px 2px 4px #ccc;
    margin-left: 450px;
    margin-top: 80px;
    padding: 20px;
    
}
.logo{
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
 margin : 0 auto;
 display: block;
}
.my_post {
  font-size: 20px;
  text-align: center;
  margin-top: 200px;
}
.other-profile-card{
  width: 100%;
  max-width:500px;
  position: relative;
  background: #fff; /*背景の色*/
  box-shadow: 0px 1px 3px rgba(0,0,0,.18);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;


}

.other-profile-card:before{
 width:120%;
 height:100px;
 content:"";
 transform:skew(15deg,10deg);
 background: #F16821; /*斜め背景の色*/
 position:  absolute;
 top:-15%;
 left:-10%;
 z-index: 0;
}

.other-profile-card__inner{
 position: relative;
}

.profile-thumb{
    overflow: hidden;
    width: 110px;
    height: 110px;
    border: #fff 3px solid;
    border-radius: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #fff;
}

.profile-thumb img{
  display: block;
    width: 100%;
    height: auto;
}

.profile-content{
  padding: 15px;
  text-align: center;
}

.profile-content span{
  display: block;
}

.profile-name{
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
  
}

.profile-level{
  margin-bottom: 10px;
  color: #ccc;
  font-size: 10px;
  text-align: center;
}

.profile-intro{
  font-size: 12px;
}